{% extends "base.html" %}
{% block content %}

<nav class="fixed-navbar">
  <ul class="nav">
    <li>Name: {{ current_user.fullname }}</li>
    <li id="countdown"></li>
  </ul>
</nav>

<div class="slide">
  <div class="media">
    <img class="media-object pull-left" src="{{ url_for('static', filename='images/logo.png') }}">
    <div class="media-body">
      <h1 class="media-heading">{{ welcome.title }}</h1>
      <h2>{{ welcome.section }}</h2>
    </div>
  </div>

  <p>{{ welcome.intro }}</p>
  {% for part in welcome.parts %}
  <ul>
    <li>{{ part }}</li>
  </ul>
  {% endfor %}
  {% for text in welcome.body %}
  <p>{{ text }}</p>
  {% endfor %}
  <p><button class="btn btn-primary" onclick="Exam.start({{ welcome.time_limit }})" type="button">
    Start the exam </button></p>
</div>

<script src="{{ url_for('static', filename='js/exam_script.js') }}"></script>

<div id="exam-body">
  <form action="/exam/finish" method="post">
    <input type="hidden" id="token" name="csrf_token" value="{{ csrf_token() }}" />
    {% for data in pages %}

    <div class="exam-box">
      <h2>{{ data.section }}</h2>

      {% if data.audio %}
      <audio id="listening" src="/static/media/{{ data.audio }}"></audio>
      {% endif %}

      {% if data.intro %}
      {% for text in data.intro %}
      <h4>{{ text }}</h4>
      {% endfor %}
      {% endif %}

      {% if data.directions %}
      {% for text in data.directions %}
      <h3>Directions</h3>
      <h4>{{ text }}</h4>
      {% endfor %}
      {% endif %}

      {% for question in data.questions %}
      <h3>{{ question.heading }}</h3>
      {% for text in question.body %}
      <h4>{{ text|safe }}</h4>
      {% endfor %}

      {% for ans in question.answers %}
      <label class="radio-label">
        <input type="radio" name="{{ question.object_id }}" value="{{ ans[0] }}">
        {{ ans[1] }} 
      </label>
      {% if data.inline %}&nbsp;&nbsp;{% else %}<br>{% endif %}
      {% endfor %}

      {% if question.ending %}
      <h5>{{ question.ending }}</h5>
      {% endif %}
      {% endfor %}

      {% if data.writing %}
      <textarea id="writingarea" name="writing" cols="80" rows="20"></textarea><br>
      <input type="submit" class="btn btn-primary pull-right" role="button" value="Finish the exam"><br>
      {% endif %}

    </div>
    {% endfor %}
  </form>
</div>

{% endblock %}
