{% extends "exam/exam_base.html" %}
{% block content %}

<div id="top-panel">
  <div class="media">
    <img class="media-object pull-left" src="{{ url_for('static', filename='images/logo.png') }}">
    <div class="media-body">
      <h1 class="media-heading>{{ welcome.title }}</h1>
      <h2>{{ welcome.section }}</h2>
    </div>
  </div>

  <p>{{ welcome.intro }}</p>
  {% for part in welcome.parts %}
  <ul>
    <li>{{ part }}</li>
  </ul>
  {% endfor %}
  {% for text in welcome.body %}
  <p>{{ text }}</p>
  {% endfor %}
  <p><a class="btn btn-primary" href="#" id="startexam" role="button">Start the exam </a></p>
</div>

<div id="exam-body">
  <form action="/exam/finish" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% for data in pages %}

    <h2>{{ data.section }}</h2>

    {% if data.audio %}
    <audio id="listening" src="/static/media/{{ data.audio }}"></audio>
    {% endif %}

    {% if data.intro %}
    {% for text in data.intro %}
    <h4 id="introtext">{{ text|safe }}</h4>
    {% endfor %}
    {% endif %}

    {% for question in data.questions %}
    <h3>{{ question.heading }}</h3>
    {% for text in question.body %}
    <h4>{{ text|safe }}</h4>
    {% endfor %}

    {% for item in question.answers %}
    <label>
      <input type="radio" name="{{ question.object_id }}" value="{{ question.answers.index(item) + 1}}">
      {{ item }} 
    </label>
    {% if data.inline %}&nbsp;&nbsp;{% else %}<br>{% endif %}
    {% endfor %}

    {% if question.ending %}
    <label>{{ question.ending }}</label>
    {% endif %}
    {% endfor %}

    {% if data.writing %}
    <textarea id="writingarea" name="writing" cols="80" rows="20"></textarea>
    <input type="submit" class="btn btn-primary pull-right" role="button" value="Finish the exam">
    {% endif %}

    {% endfor %}
  </form>
</div>

{% endblock %}
