{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block content %}

<div class="panel panel-default panel-body">
  <div class="jumbotron">
    <div class="media">
      <img class="media-object pull-left" src="{{ url_for('static', filename='images/logo.png') }}">
      <div class="media-body">
        <h1 class="media-heading">Payap University English Exam</h1>
        {% if data %}
        <h2>{{ data.section }}</h2>
        {% endif %}
      </div>
    </div>
  </div>

  {% if data.audio %}
  <audio src="/static/media/{{ data.exam_id }}/{{ data.audio }}" autoplay="true">
  </audio>
  {% endif %}

  {% if data.reading %}
  <div class="panel panel-default">
    {% for text in data.reading %}
    <label>{{ text }}</label>
    {% endfor %}
  </div>
  {% endif %}

  {% if data.intro %}
  <div class="panel panel-default">
    <p>{{ data.intro }}</p>
    <h3>Directions</h3>
    <p>{{ data.directions }}</p>
  </div>
  {% endif %}

  <form action="/exam/{{ data.exam_id }}/section/{{ data.next_page }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if data.questions %}
    {% for question in data.questions %}
    <div class="panel panel-default">
      {% if question.heading %}
      <h3>{{ question.heading }}</h3>
      {% endif %}
      {% for text in question.body %}
      <h4>{{ text|safe }}</h4>
      {% endfor %}
      {% for item in question.answers %}
      <label>
        <input type="radio" name="{{ question.object_id }}" value="{{ item[0] }}">
        {{ item[1] }} 
      </label>

      {% if data.inline %}
      &nbsp;&nbsp;
      {% else %}
      <br>
      {% endif %}

      {% endfor %}

      {% if question.ending %}
      <label>{{ question.ending }}</label>
      {% endif %}

    </div>
    {% endfor %}
    {% endif %}

    {% if data.writing %}
    <div class="panel panel-default">
      <textarea id="writingarea" name="writing" cols="80" rows="20"></textarea><br>
    </div>
    <input type="submit" class="btn btn-primary pull-right" role="button" value="Finish the exam">
    {% else %}
    <input type="submit" class="btn btn-primary pull-right" role="button" value="Go to the next page » ">
    {% endif %}
  </form>

</div>

{% endblock %}
