#randomquote {
  text-align: center;
}
#mainheading {
  height: 180px;
  overflow: hidden;
}
#introtext {
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}
#writingarea {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.footer {
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
}
@media (max-width: 480px) {
  #mainheading {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0px;
  }
}
