body {
  padding-top: 20px;
}
.course-info {
  margin-bottom: 40px;
}
#top-panel {
  margin-bottom: 80px;
}
#exam-body {
  display: none;
}
#randomquote {
  text-align: center;
}
#mainheading {
  height: 180px;
  overflow: hidden;
}
#introtext {
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}
#writingarea {
  width: 100%;
  display: block;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.footer {
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
}
@media (max-width: 480px) {
  #mainheading {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0px;
  }
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #609ed2;
  border: 1px solid #3886c7;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #4c92cc; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74aad8), to(#4c92cc));
  background-image: -webkit-linear-gradient(top, #74aad8 0%, #4c92cc 100%);
  background-image:      -o-linear-gradient(top, #74aad8 0%, #4c92cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #74aad8), to(#4c92cc));
  background-image:         linear-gradient(top, #74aad8 0%, #4c92cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74aad8', endColorstr='#4c92cc',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #3886c7;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #609ed2; /* need to add this to the main bootstrap file as well */
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #3886c7;
    border-left: 1px solid #74aad8;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

