{% extends "base.html" %}
{% block title %}Exam score{% endblock %}
{% block content %}
<div class="panel panel">
  <h2 class="page-header">PYU Entrance Exam</h2>
  {% if exams %}
  {% for exam in exams %}
  <h3>{{ exam.username }}</h3>
  <h4>{{ exam.taken_date.strftime('%d %b %Y') }}</h4>
  <h5>{{ exam.exam_score['exam_id'] }}</h5>
  <ul>
    <li>Listening {{ exam.exam_score['listening'] }}</li>
    <li>Structure {{ exam.exam_score['structure'] }}</li>
    <li>Reading {{ exam.exam_score['reading'] }}</li>
    <li>Writing {{ exam.exam_score['writing'] }}</li>
  </ul>
  <h4>Total {{ exam.exam_score['total'] }}</h4>
  {% endfor %}
  {% else %}
  <form action="{{ url_for('user.examscore') }}" method="POST" role="form">
    <fieldset>
      {{ form.csrf_token() }}
      <div class="form-group">
        <label>{{ form.username.label }}</label>
        {{ form.username(class="form-control", placeholder="Username") }}
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Get scores</button>
    </fieldset>
  </form>
  {% endif %}
</div>
{% endblock %}
