{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="panel panel-default">
  <h2>Exams</h2>
  {% if check %}
  <form action="{{ url_for('user.examscores') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% for needcheck in check %}
    <h4>{{ needcheck[0] }}</h4>
    <textarea cols="80" rows="10">
      {{ needcheck[1] }}
    </textarea><br>
    <label>
      Writing score
      <input type="text" name="{{ needcheck[0] }}">
    </label>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit writing scores</button>
  </form>
  {% endif %}
  {% if scores %}
  <h4>{{ scores['name'] }}</h4>
  <ul>
    <li>Listening {{ score['listening'] }}</li>
    <li>Structure {{ score['structure'] }}</li>
    <li>Reading {{ score['reading'] }}</li>
    <li>Writing {{ score['writing'] }}</li>
    <li>Total {{ score['total'] }}</li>
  </ul>
  {% endif %}
</div>

{% endblock %}
