{% extends "base.html" %}
{% block title %}Check writing{% endblock %}
{% block content %}

<h2 class="page-header">PYU Entrance Exam</h2>
<h3>Writing</h3>
{% if check %}
<form action="{{ url_for('user.examwriting') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  {% for needcheck in check %}
  <h4>{{ needcheck[0] }}</h4>
  <textarea cols="80" rows="10">
    {{ needcheck[1] }}
  </textarea><br>
  <label>
    Writing score
    <input type="text" name="{{ needcheck[0] }}">
  </label>
  <br>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Submit writing scores</button>
</form>
{% else %}
<p>Good news! Nothing to check.</p>
{% endif %}

{% endblock %}
