{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<script>var csrftoken = "{{ csrf_token() }}"</script>

<h1>Administration</h1>
<h3 class="page-header">PYU Entrance Exam</h3>
<h4>Add examinees</h4>
<form class="form-inline" id="examinee-form" method="post">
  <div class="form-group">
    <label for="addname">Student's name</label>
    <input type="text" class="form-control" id="addexaminee" name="addname">
    <label for="addcode">Student Id</label>
    <input type="text" class="form-control" id="studentcode" name="addcode">
    <select class="form-control" id="selectexam" name="getexam">
      {% for exam in exams %}
      <option>{{ exam }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-default" onclick="Admin.addExaminee()" type="button">Add examinee</button>
  </div>
</form><br>
<div id="addexaminee-names"></div>
<h4>Exam scores</h4>
<form class="form-inline" id="examscore-form" method="post">
  <div class="form-group">
    <label for="getscore">Date exam taken</label>
    <select class="form-control" id="getexamscore" name="getscore">
      {% for exam_date in old %}
      <option>{{ exam_date }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-default" onclick="Admin.getExamScore()" type="button">Get exam scores</button>
  </div>
</form><br>
<div id="getscore-scores"></div>
<h4>Assess the writing section</h4>
<div id="checkwrite">
  <p><button class="btn btn-default" onclick="Admin.checkWrite()" type="button">Check writing</button></p>
</div>

<h2 class="page-header">Teaching tools</h2>
<p><button class="btn btn-default" onclick="toggleDiv('drat-open')" type="button">Readability tool</button></p>
<div class="collapse" id="drat-open">
  <form id="drat-form" method="post">
    <div class="form-group">
      <h4>Insert text in the box below</h4>
      <textarea cols="80" rows="10" id="drat-text"></textarea><br>
      <button class="btn btn-default" onclick="Admin.getDratReport()" type="button">Submit text</button>
    </div>
  </form>
</div>
<div id="drat-report"></div>

<script src="{{ url_for('static', filename='js/user_script.js') }}"></script>

{% endblock %}
