<!doctype html>
<head>
  <meta charset="utf-8">
  <title>ELEC - Learn English at Payap University - {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-boot.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</head>
<body>

  {% if not current_user.is_authenticated() or current_user.role == 'admin' %}
  {% include 'partials/nav.html' %}
  {% endif %}

  {% if request.path == '/' %}
  {% include 'partials/carousel.html' %}
  {% endif %}

  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
      <label>{{ message }}</label>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <div class="footer">
      <p>© ELEC - Payap University 2015</p>
    </div>
  </div>

</body>
</html>
