{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="panel">
  <div class="carousel slide carousel-fade" data-ride="carousel" id="mainCarousel"><!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#mainCarousel">&nbsp;</li>
      <li data-slide-to="1" data-target="#mainCarousel">&nbsp;</li>
      <li data-slide-to="2" data-target="#mainCarousel">&nbsp;</li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"><img alt="First slide" src="{{ url_for('static', filename='images/home_1.jpg') }}" />
      </div>
      <div class="item"><img alt="Second slide" src="{{ url_for('static', filename='images/home_2.jpg') }}" />
      </div>
      <div class="item"><img alt="Third slide" src="{{ url_for('static', filename='images/home_3.jpg') }}" />
      </div>
    </div>
  </div>
</div>
<div class="panel" id="mainheading">
  <div class="media"><a class="pull-left" href="#"><img class="media-object img-rounded" src="{{ url_for('static', filename='images/elec_logo.png') }}" /> </a>
    <div class="media-body">
      <blockquote class="media-heading"><p id="randomquote"></p>
        <small id="author"><cite></cite></small>
      </blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="panel">
      <h3>Intensive English Program - Study English Full-Time</h3>
      <p>An intensive 180-hour course which gives you a great chance to become a lot better at English.</p>
      <p>Ideal for students who want to study a university course in English.</p>
      <p><a class="btn btn-primary" href="/#coursesiep" role="button">Learn more »</a></p>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="panel">
      <h3>TESOL Certificate - Teacher Training</h3>
      <p>We offer 120-hour TESOL Certificate courses</p>
      <p>The TESOL Certificate is an internationally recognized qualification for teachers of English to nonnative speakers.</p>
      <p><a class="btn btn-primary" href="/#coursestesol" role="button">Learn more »</a></p>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="panel">
      <h3>IELTS / TOEFL Preparation</h3>
      <p>We can help you prepare for your IELTS, or TOEFL, exam</p>
      <p>For students who want to study abroad and need to prepare for an IELTS, or TOEFL, test, we also offer IELTS / TOEFL preparation courses.</p>
      <p><a class="btn btn-primary" href="/#coursesielts" role="button">Learn more »</a></p>
    </div>
  </div>
</div>

<h2 class="page-header">Courses</h2>
<div class="panel">
  <h2 class="page-header" id="coursesiep" style="padding-top: 70px; margin-top: -50px;">Intensive English Program</h2>
  <h4>Ideal for students who want to study a university course in English</h4>
  <h4>An intensive 180-hour course which gives you a great chance to become a lot better at English.</h4>
  <p>There are three levels, elementary, intermediate and advanced, and it takes one semester to complete each level. Students who complete the advanced level will have learned the skills they need to successfully study in English at university level.</p>
  <p>A TOEFL, IELTS or Payap Proficiency Test score and/or an oral interview are used to work out the applicant’s English level in order to place the student at the most beneficial level of instruction. Students are expected to attend all classes in which they are placed.</p>
  <h4>To apply for the Intensive English Program course, <a href="{{ url_for('home.signup') }}">fill in the registration form</a>, or come in to our office any time from Monday to Friday 8:30 am to 4:30 pm.</h4>
  <p><button class="btn btn-primary" data-target="#iepfees" data-toggle="collapse" type="button">Schedule and Fees</button></p>
  <div class="collapse" id="iepfees">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Semester 2 2015 (current semester)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Midterm examination:</td>
              <td>2nd - 5th March 2015</td>
            </tr>
            <tr>
              <td>Songkran holiday:</td>
              <td>13th - 17th April 2015</td>
            </tr>
            <tr>
              <td><strong>Last day of classes:</strong></td>
              <td><strong>28th April 2015</strong></td>
            </tr>
            <tr>
              <td>Final examination:</td>
              <td>27th April 2015</td>
            </tr>
            <tr>
              <td>Grade announcement:</td>
              <td>15th May 2015</td>
            </tr>
            <tr>
              <td><strong>Class times:</strong></td>
              <td><strong>Mon - Thurs 9 am - 12 noon</strong></td>
            </tr>
            <tr>
              <td><strong>Cost:</strong></td>
              <td><strong>43,800 THB</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Summer semester 2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Registration and payment:</td>
              <td>1st February 2015 - 5th June 2015</td>
            </tr>
            <tr>
              <td>Last day for late registration and payment:</td>
              <td>12th June 2015</td>
            </tr>
            <tr>
              <td><strong>First day of classes:</strong></td>
              <td><strong>2nd June 2015</strong></td>
            </tr>
            <tr>
              <td>Midterm examination:</td>
              <td>22nd - 25th June 2015</td>
            </tr>
            <tr>
              <td><strong>Last day of classes:</strong></td>
              <td><strong>22nd July 2015</strong></td>
            </tr>
            <tr>
              <td>Final examination:</td>
              <td>21st July 2015</td>
            </tr>
            <tr>
              <td>Grade announcement:</td>
              <td>31st July 2015</td>
            </tr>
            <tr>
              <td><strong>Class times:</strong></td>
              <td><strong>Mon - Thurs 9 am - 12 noon and 1 pm - 4 pm</strong></td>
            </tr>
            <tr>
              <td><strong>Cost:</strong></td>
              <td><strong>43,800 THB</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
<div class="panel">
  <h2 class="page-header" id="coursestesol" style="padding-top: 70px; margin-top: -50px;">TESOL Certificate</h2>
  <h4>Teacher training for both native and nonnative speakers</h4>
  <h4>The TESOL Certificate is an internationally recognized qualification for teachers of English.</h4>
  <p>We offer 120-hour TESOL Certificate courses for English teachers. The Certificate in TESOL is a program designed for graduates with near-native proficiency in English who want to begin a teaching career. It is taught entirely in English, and provides the basic training for teaching English as a non-native language.</p>
  <p>The program is a four-week intensive program, which covers the structure of spoken and written texts in English, contemporary approaches to language teaching and evaluation, and classroom practice.</p>
  <h4>To apply for the TESOL Certificate course, <a href="{{ url_for('home.signup') }}">fill in the registration form</a>, or come in to our office any time from Monday to Friday 8:30 am to 4:30 pm.</h4>
  <p><button class="btn btn-primary" data-target="#tesolfees" data-toggle="collapse" type="button">Schedule and Fees</button></p>
  <div class="collapse" id="tesolfees">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Semester 2 2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>March</td>
              <td>2nd March - 27th March 2015</td>
            </tr>
            <tr>
              <td>May</td>
              <td>4th May - 29th May 2015</td>
            </tr>
            <tr>
              <td>July</td>
              <td>6th July - 31st July 2015</td>
            </tr>
            <tr>
              <td><strong>Class times:</strong></td>
              <td><strong>Mon - Fri 9 am - 12 noon and 1 pm - 4 pm</strong></td>
            </tr>
            <tr>
              <td><strong>Cost:</strong></td>
              <td><strong>35,000 THB</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
<div class="panel">
  <h2 class="page-header" id="coursesielts" style="padding-top: 70px; margin-top: -50px;">IELTS / TOEFL Preparation</h2>
  <h4>For students who want to study abroad</h4>
  <p>For students who want to study abroad and need to prepare for an IELTS, or TOEFL, test, we also offer IELTS / TOEFL preparation courses.</p>
  <p>There is no fixed schedule for these courses, but if you are interested in taking an IELTS, or TOEFL, preparation course, please sign up, and we can contact you when the course starts. A minimum of four students is needed to start an IELTS / TOEFL preparation course.</p>
  <h4>To apply for the IELTS / TOEFL preparation course, <a href="{{ url_for('home.signup') }}">fill in the registration form</a>, or come in to our office any time from Monday to Friday 8:30 am to 4:30 pm.</h4>
  <p><button class="btn btn-primary" data-target="#ieltsfees" data-toggle="collapse" type="button">Schedule and Fees</button></p>
  <div class="collapse" id="ieltsfees">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Semester 2 2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>March</td>
              <td>3rd March - 2nd April 2015</td>
            </tr>
            <tr>
              <td><strong>Class times:</strong></td>
              <td><strong>Tues, Thurs 5 - 7 pm</strong></td>
            </tr>
            <tr>
              <td><strong>Cost:</strong></td>
              <td><strong>3,975 THB (2,435 THB for Payap students and staff)</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
<div class="panel">
  <h2 class="page-header" id="geninfo" style="padding-top: 80px; margin-top: -80px;">General English Conversation</h2>
  <h4>Improve your General English</h4>
  <p>If you take our General English Conversation courses, you can improve your English and have fun at the same time.</p>
  <h4>To apply for the General English conversation course, <a href="{{ url_for('home.signup') }}">fill in the registration form</a>, or come in to our office any time from Monday to Friday 8:30 am to 4:30 pm.</h4>
  <p><button class="btn btn-primary" data-target="#genfees" data-toggle="collapse" type="button">Schedule and Fees</button></p>
  <div class="collapse" id="genfees">
    <div class="panel">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Semester 2 2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>March</td>
              <td>2nd March - 27th March 2015</td>
            </tr>
            <tr>
              <td><strong>Class times:</strong></td>
              <td><strong>Mon, Wed, Fri 5 - 7 pm</strong></td>
            </tr>
            <tr>
              <td><strong>Cost:</strong></td>
              <td><strong>4,950 THB (3,465 THB for Payap students and staff)</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>&nbsp;</p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Notes for students</h4>
  </div>
  <div class="panel-body">
    <h4>Overseas students</h4>
    <ul>
      <li>All fees must be paid in full before we can send you a letter for your visa application.</li>
      <li>We charge 1,500 THB for postage of documentation.</li>
      <li>The visa application process can take several weeks, so please book in advance.</li>
    </ul>
    <h4>Students currently in Thailand</h4>
    <ul>
      <li>All students must take an ELEC placement test (200 Baht) before entering any program.</li>
      <li>Registration and payment are compulsory before any program commences.</li>
      <li>The ELEC reserves the right not to open classes if fewer than 4 students enroll.</li>
      <li>Book fees are not included in the course fees but photocopies are.</li>
      <li>The ELEC reserves the right to change course fees and dates without prior notice.</li>
      <li>No refunds are given once the semester has started except in very exceptional circumstances</li>
      <li>If a refund is permitted there will be a charge of 1,000 Baht to cover administration costs.</li>
    </ul>
  </div>
</div>

{% endblock %}
