{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="css-slider">
  <img class="slider-img" src="{{ url_for('static', filename='images/home_1.jpg') }}" />
  <img class="slider-img" src="{{ url_for('static', filename='images/home_2.jpg') }}" />
  <img class="slider-img" src="{{ url_for('static', filename='images/home_3.jpg') }}" />
</div>

<div id="mainheading">
  <div class="media"><a class="pull-left" href="#"><img class="media-object img-rounded" src="{{ url_for('static', filename='images/elec_logo.png') }}" /> </a>
    <div class="media-body">
      <blockquote class="media-heading"><p id="randomquote"></p>
        <small id="author"><cite></cite></small>
      </blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <h3>Intensive English Program - Study English Full-Time</h3>
    <p>An intensive 180-hour course which gives you a great chance to become a lot better at English.</p>
    <p>Ideal for students who want to study a university course in English.</p>
    <p><a class="btn btn-primary" href="/#coursesiep" role="button">Learn more »</a></p>
  </div>
  <div class="col-sm-4 col-md-4">
    <h3>TESOL Certificate - Teacher Training</h3>
    <p>We offer 120-hour TESOL Certificate courses</p>
    <p>The TESOL Certificate is an internationally recognized qualification for teachers of English to nonnative speakers.</p>
    <p><a class="btn btn-primary" href="/#coursestesol" role="button">Learn more »</a></p>
  </div>
  <div class="col-sm-4 col-md-4">
    <h3>IELTS / TOEFL Preparation</h3>
    <p>We can help you prepare for your IELTS, or TOEFL, exam</p>
    <p>For students who want to study abroad and need to prepare for an IELTS, or TOEFL, test, we also offer IELTS / TOEFL preparation courses.</p>
    <p><a class="btn btn-primary" href="/#coursesielts" role="button">Learn more »</a></p>
  </div>
</div>

{% include "home/courses.html" %}

<script src="{{ url_for('static', filename='js/quotes.js') }}"></script>

{% endblock %}
