{% for exam in scores %}
<table class="table">
  <thead>
    <tr>
      <th>{{ name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Exam:</td>
      <td>{{ exam.exam_id }}</td>
      <td>Listening: {{ exam.listening }}</td>
      <td>Structure: {{ exam.structure }}</td>
      <td>Reading: {{ exam.reading }}</td>
      <td>Writing: {{ exam.writing }}</td>
      <td>Total: {{ exam.total }}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" id="remove-scores">Remove scores</button>
{% endfor %}

<script>
$("#remove-scores").click(function () {
  $("#getscore-results").fadeOut("slow");
});
</script>
